     /* !MEDIA QUERY  */
     @media (max-width:800px){
     
       .fotoHome{
          width: 100%;
          height: 100%;
       }
     }


/* ! EL DIV CONTENEDOR DE TODO */
.allBox{
  display: flex;
  flex-direction:column;
  align-items: end;
  width: 100%;
}
          
/* ! NAV BAR */
.navBar{
  background-color: #252525;
width: 100vw;
height: 20vh;
display: flex;
justify-content: space-between;


border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em;
border-bottom: 0.125em solid #85cd85;
box-shadow: 0 0.5em 2em 0.1em #008000 ;
transition: box-shadow 300ms linear;

}
.navBar:hover{
    box-shadow:  0 0em 1em 0.3em #008000 ;
    
    

}

 /* !IMAGEN Y ANIMACION DE IMAGEN  */
 @keyframes bounce{
  0%{
      transform: translateY(0);
  }
  20%{
      transform: translateY(-5px);
  }
  50%{
      transform: translateY(0);
  }
  80%{
      transform: translateY(5px);
  }
  100%{
      transform: translateY(0);
  }
}
.fotoHome{
  height: 150%;
  cursor: pointer;
  /* margin-left: 1.5em; */
    filter: drop-shadow(0px 0px  15px #018a01);
  
  }
  .fotoHome:hover{
      animation: bounce 1s 0s infinite linear ;
    
  
      
  }
    /* !LOGO DE LA SIDE BAR  */
.burgerBox{
  display:flex;
  justify-content: center;
  align-items: center;
   
}
.burger{
  color: #09ff0189;

width: 70%;
height: 70%;
filter: drop-shadow(0px 0px  15px  #0bff01);
transition: 1s;
}
.burger:hover{
  color:#0bff01;
  filter: drop-shadow(0px 0px  5px  #0bff01)
}







 