
.foto{
    height: 10em;
    cursor: pointer;
    margin-left: 1.5em;
      filter: drop-shadow(0px 0px  15px #018a01);
    

}
@keyframes bounce{
  0%{
      transform: translateY(0);
  }
  20%{
      transform: translateY(-5px);
  }
  50%{
      transform: translateY(0);
  }
  80%{
      transform: translateY(5px);
  }
  100%{
      transform: translateY(0);
  }
}


/** DIV NAVBAR **/
.divNavBar{
display: flex;
width: 100%;
background-color:#252525;
height: 200px;
justify-content: end;
justify-content: space-between;

margin-bottom: 70px;
border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em;
border-bottom: 0.125em solid #85cd85;
box-shadow: 0 0.5em 2em 0.1em #008000 ;
transition: box-shadow 300ms linear;

}
.divNavBar:hover{
  box-shadow:  0 0em 1em 0.3em #008000 ;
  
  

}

/*?         FOTO             ?*/
.foto{
height: 18em;
cursor: pointer;
margin-left: 1.5em;
  filter: drop-shadow(0px 0px  15px #018a01);

}
.foto:hover{
    animation: bounce 1s 0s infinite linear ;
  

    
}
